<!--Header-->
<!-- <app-dashboard></app-dashboard> -->

<p class="HEADER" fxFlexAlign="center">CAREERS</p>


<!--Input Box-->
<!-- <div class="rows"> -->

<!-- <div class="row-1">
        <div class="boxcontainer">
            <table class="elementscontainer">
                <tr>
                    <td>
                        <a href="" class="cont"><img src="assets\search.png" alt=""> </a>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="search" [(ngModel)]="filteredString"
                            placeholder="Search here" />
                    </td>
                </tr>
            </table>
        </div>
    </div> -->
<!-- <div class="row-2">
        <div class="row-2-1">
            <p id="font">Country</p>
        </div>
        <div class="row-2-2">
            <input id="input" [(ngModel)]="countrystring" type="text" placeholder="  All">
        </div>
    </div> -->
<!-- <div class="row-3">
        <div class="row-3-1">
            <p id="font">Locations</p>
        </div>
        <div class="row-3-2">
            <input id="input" [(ngModel)]="locationString" type="text" placeholder="  All">
        </div>
    </div> -->
<!-- <div class="row-4">
        <div class="row-4-1">
            <p id="font">Category</p>
        </div>
        <div class="row-4-2">
            <input id="input" [(ngModel)]="categoryString" type="text" placeholder="  All">
        </div>
    </div> -->


<!-- </div> -->

<!--Card Section-->

<div class="container_10">
    <div class="rows">

        <div class="card" id="card1" *ngFor="let job of items ">

            <div class="position">
                <div class="title-head">
                    <h1 class="font-1"> {{job.name | uppercase }} </h1>
                </div>

                <!-- <span>Category</span>
                <p>{{job.category}}</p>

                <span>Location</span>
                <p>{{job.location}} </p>

                <span>Country</span>
                <span> {{job.country}}</span> -->
                <table>
                    <tr>
                        <td style="width: 60px;">Category</td>
                        <td>:</td>
                        <td>{{job.category}}</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td style="width: 60px;">:</td>
                        <td>{{job.location}}</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>:</td>
                        <td>{{job.country}}</td>
                    </tr>
                </table>

                <div class="descrip">
                    <p class="font"> {{job.description}} </p>
                </div>
            </div>

            <div class="apply">
                <button style="cursor: pointer;">Apply Now</button>
            </div>
        </div>
    </div>

    <ng-template #noResults>
        <p class="no-result">No results found for "{{filteredString}}"</p>
        <!-- <p class="no-result">No results found for "{{location}}"</p> -->
    </ng-template>

</div>

<router-outlet></router-outlet>