<header>
  <div class="main-bar">
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </label>

      <div class="logo-header">
        <img style="width: 150px; height: 150px" src="assets\LOGO.png" alt="">
      </div>

      <ul>
        <li class="active"><a routerLink=''>HOME</a></li>
        <li><a routerLink="product">PRODUCT</a></li>
        <li><a routerLink="careers">CAREERS</a></li>
        <li><a routerLink="contactus">CONTACT US</a></li>
      </ul>

    </nav>

  </div>

</header>

<router-outlet></router-outlet>