<div class="body">
    <p class="HEADER">PRODUCT</p>

    <div class="row">
        <div class="card_1" id="card-1">
            <div class="tittle">
                SHAPEMEUP
            </div>
            <div class="content">
                Physical fitness has become paramount important more than ever during the last 18 months especially with
                the onset of pandemic. With people being locked down in home and with less travelling and more remote
                working, it has become very difficult to maintain physical health. At the sametime, physical and mental
                health has become very important to keep our defences strong against the pandemic.
                With so many people realizing the importance of maintaining fitness and yet stuck at home with no access
                to fitness facilities, we at Honeycomb Technologies have come up with an application which solves the
                problem. We have created an unique application which enables anyone across the world to access the
                fitness coach of their choice, fitness program and diet program under the single umbrella.


            </div>
        </div>
        <div class="card_1" id="card-2">
            <img src="assets\shapeme.png" alt="">
        </div>
    </div>

    <div class="visit">
        VISIT AT:
    </div>
</div>